{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="KreativDev">

    <!-- Title -->
    <title>Treats - Fast Food & Restaurant HTML Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/logo/fav.png' %}" type="image/x-icon">

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lora:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/vendors/bootstrap.min.css' %}">
    <!-- Fontawesome Icon CSS -->
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome/css/all.min.css' %}">
    <!-- Icomoon Icon CSS -->
    <link rel="stylesheet" href="{% static 'assets/fonts/icomoon/style.css' %}">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/vendors/magnific-popup.min.css' %}">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/vendors/nice-select.css' %}">
    <!-- Swiper Slider -->
    <link rel="stylesheet" href="{% static 'assets/css/vendors/swiper-bundle.min.css' %}">
    <!-- AOS Animation CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/vendors/aos.min.css' %}">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/vendors/animate.min.css' %}">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
</head>

<body class="theme-color-1">
    <!-- Preloader start -->
    <div id="preLoader">
        <div class="loader">
            <img src="{% static 'assets/images/loader-1.gif' %}" alt="Preloader">
        </div>
    </div>
    <!-- Preloader end -->

    <!-- Header-area start -->
    <header class="header-area header-1" data-aos="fade-down">
        <!-- Start mobile menu -->
        <div class="mobile-menu">
            <div class="container">
                <div class="mobile-menu-wrapper"></div>
            </div>
        </div>
        <!-- End mobile menu -->

        <div class="main-responsive-nav">
            <div class="container">
                <!-- Mobile Logo -->
                <div class="logo">
                    <a href="index.html" target="_self" title="Treats">
                        <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{% static 'assets/images/logo/logo-1.png' %}" alt="Treats logo">
                    </a>
                </div>
                <!-- Menu toggle button -->
                <button class="menu-toggler" type="button">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>

        <div class="main-navbar">
            <div class="header-top py-2">
                <div class="container">
                    <div class="header-top-items mobile-item d-flex flex-wrap justify-content-between gap-15 align-items-center">
                        <a href="tel:99911446666" class="icon-start" target="_self" title="Call Us">
                            <span class="color-primary">
                                Call Us:
                            </span>
                            +999 11 44 6666
                        </a>
                        <div class="social-link icon-only">
                            <a class="rounded-pill" href="https://www.instagram.com/" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a>
                            <a class="rounded-pill" href="https://www.dribbble.com/" target="_blank" title="dribbble"><i class="fab fa-dribbble"></i></a>
                            <a class="rounded-pill" href="https://www.twitter.com/" target="_blank" title="twitter"><i class="fab fa-twitter"></i></a>
                            <a class="rounded-pill" href="https://www.youtube.com/" target="_blank" title="youtube"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="container">
                    {% include 'include/header.html' %}
                </div>
            </div>
        </div>
    </header>
    <!-- Header-area end -->

    <!-- Breadcrumb start -->
    <div class="breadcrumb-area bg-img bg-cover" data-bg-image="{{image.image6.url}}">
        <div class="overlay 65"></div>
        <div class="container">
            <div class="content text-center">
                <h2 class="color-white">О нас</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Домой</a></li>
                        <li class="breadcrumb-item active" aria-current="page">О нас</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <!-- About-area start -->
    <section class="about-area about-1 pt-100 pb-60 bg-white">
        <div class="container">
            <div class="row align-items-center gx-xl-5">
                <div class="col-lg-6" data-aos="fade-up">
                    <div class="image mb-40">
                        <img class="lazyload blur-up" src="{{quality.image.url}}" data-src="{{quality.image.url}}   " alt="Image">

                        <div class="absolute-text bg-primary">
                            <div class="center-text">
                                <span class="h3 color-dark">05+</span>
                                <span class="h4 mb-0 color-dark">Годы опыта</span>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="col-lg-6" data-aos="fade-up">
                    <div class="content-title pb-10 ps-xl-2">
                        <h2 class="title mb-20">
                            {{quality.title}}
                        </h2>
                        <div class="content-text">
                            <p>
                                {{quality.description}}
                            </p>
                        </div>
                        <div class="info-list mt-30">
                            <div class="row gx-xl-5">
                                <div class="col-md-6 item mb-30">
                                    <div class="card">
                                        <div class="card-icon rounded-pill">
                                            <i class="ico-premium-quality"></i>
                                        </div>
                                        <div class="card-content">
                                            <h6 class="card-title mb-2">Высокое качество</h6>
                                            <p class="card-text">{{quality.info1}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 item mb-30">
                                    <div class="card">
                                        <div class="card-icon rounded-pill">
                                            <i class="ico-call-order"></i>
                                        </div>
                                        <div class="card-content">
                                            <h6 class="card-title mb-2">Онлайн доставка</h6>
                                            <p class="card-text">
                                                {{quality.info2}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 item mb-30">
                                    <div class="card">
                                        <div class="card-icon rounded-pill">
                                            <i class="ico-nature-product"></i>
                                        </div>
                                        <div class="card-content">
                                            <h6 class="card-title mb-2">100% Чистая Еда</h6>
                                            <p class="card-text">{{quality.info3}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 item mb-30">
                                    <div class="card">
                                        <div class="card-icon rounded-pill">
                                            <i class="ico-support"></i>
                                        </div>
                                        <div class="card-content">
                                            <h6 class="card-title mb-2">24/7 Часы работы</h6>
                                            <p class="card-text">{{quality.info4}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About-area end -->

    <!-- Testimonial-area start -->
    <section class="testimonial-area testimonial-1 pb-60">
        <div class="container">
            <div class="row align-items-center gx-xl-5">
                <div class="col-lg-6">
                    <div class="content-title mb-40" data-aos="fade-up">
                        <h2 class="title mb-20">
                            Замечательные слова наших довольных клиентов
                        </h2>
                        <div class="content-text mb-40">
                            <p>
                                Благодаря вашей поддержке и доверию мы продолжаем совершенствоваться и предоставлять вам только лучшие продукты/услуги. Ваше мнение очень важно для нас, и мы всегда готовы слушать вас, чтобы удовлетворить ваши потребности еще лучше.

                                Мы ценим вас как наших ценных клиентов и гордимся тем, что вы часть нашего сообщества. Благодарим вас за ваш вклад в наш успех!
                            </p>
                        </div>
                    </div>
                    <div class="swiper mb-40" id="testimonial-slider-1" data-aos="fade-up">
                        <div class="swiper-wrapper">
                            {% for clients in clients %}
                            <div class="swiper-slide">
                                <div class="slider-item radius-md border">
                                    <div class="client gap-20 flex-wrap">
                                        <div class="client-info d-flex align-items-center">
                                            <div class="client-img">
                                                <div class="lazy-container rounded-circle ratio ratio-1-1">
                                                    <img class="lazyload" src="{{clients.photo.url}}" data-src="{{photo.photo.url}}" alt="Person Image">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h6 class="name mb-1">{{clients.name}}</h6>
                                                <span class="designation font-sm">{{clients.profession}}</span>
                                            </div>
                                        </div>
                                        <div class="ratings size-md flex-column align-items-start gap-2">
                                            <div class="rate">
                                                <div class="rating-icon"></div>
                                            </div>
                                            <div class="ratings-total">5 звезд из 20 клиентов</div>
                                        </div>
                                    </div>
                                    <div class="quote">
                                        <span class="icon"><i class="fal fa-quote-right"></i></span>
                                        <p class="text font-lg mb-0">
                                            {{clients.descriptions}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination position-static mt-30" id="testimonial-slider-1-pagination"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="image mb-40" data-aos="fade-left">
                        <img class="lazyload blur-up" src="{{image4.image.url}}" data-src="{{image.image4.url}}" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial-area end -->

    <!-- Gallery-area start -->
    <div class="gallery-area" data-aos="fade-up">
        <div class="container">
            <div class="swiper gallery-slider">
                <div class="swiper-wrapper">
                    {% for advertising in advertising %}
                    <div class="swiper-slide">
                        <a href="{{advertising.url}}" class="slider-item" title="Image" target="_blank">
                            <div class="lazy-container ratio ratio-2-3">
                                <img class="lazyload" src="{{advertising.image.url}}" data-src="{{advertising.image.url}}" alt="Image">
                            </div>
                            <div class="icon rounded-pill"><img class="lazyload blur-up" src="{{advertising.logo.url}}" data-src="{{advertising.logo.url}}" alt="Image"></div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery-area end -->

    <!-- Footer-area start -->
    {% include 'include/footer.html' %}
    <!-- Footer-area end-->

    <!-- Go to Top -->
    <div class="go-top"><i class="fal fa-angle-up"></i></div>
    <!-- Go to Top -->

    <!-- Jquery JS -->
    <script src="{% static 'assets/js/vendors/jquery.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'assets/js/vendors/bootstrap.min.js' %}"></script>
    <!-- Counter JS -->
    <script src="{% static 'assets/js/vendors/jquery.counterup.min.js' %}"></script>
    <!-- Magnific Popup JS -->
    <script src="{% static 'assets/js/vendors/jquery.magnific-popup.min.js' %}"></script>
    <!-- Nice Select JS -->
    <script src="{% static 'assets/js/vendors/jquery.nice-select.min.js' %}"></script>
    <!-- Swiper Slider JS -->
    <script src="{% static 'assets/js/vendors/swiper-bundle.min.js' %}"></script>
    <!-- Lazysizes -->
    <script src="{% static 'assets/js/vendors/lazysizes.min.js' %}"></script>
    <!-- Mouse Hover JS -->
    <script src="{% static 'assets/js/vendors/mouse-hover-move.js' %}"></script>
    <!-- Twinmax JS -->
    <script src="{% static 'assets/js/vendors/tweenMax.min.js' %}"></script>
    <!-- AOS JS -->
    <script src="{% static 'assets/js/vendors/aos.min.js' %}"></script>
    <!-- Main script JS -->
    <script src="{% static 'assets/js/script.js' %}"></script>
</body>

</html>