{% load static %}
<nav class="navbar navbar-expand-lg">
    <!-- Logo -->
    <a class="navbar-brand" href="{% url 'home' %}" target="_self" title="Treats">
        <img class="lazyload" src="{{ass.logo.url}}" data-src="{{ass.logo.url}}" alt="Treats logo">
    </a>
    <!-- Navigation items -->
    <div class="collapse navbar-collapse">
        <ul id="mainMenu" class="navbar-nav mobile-item mx-auto">
            <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link toggle">Домой <i class="fal fa-plus"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">О нас</a>
            </li>
            <li class="nav-item">
                <a class="nav-link toggle" href="{% url 'menu' %}">Меню</a>
            </li>
            <li class="nav-item">
                <a class="nav-link toggle" href="{% url 'shop' %}">Магазин<i class="fal fa-plus"></i></a>
                
            </li>
            <li class="nav-item">
                <a class="nav-link toggle" href="#">Страницы<i class="fal fa-plus"></i></a>
                <ul class="menu-dropdown">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reservations' %}">Бронирование</a>
                    </li>
                    
                    
                   
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url '404' %}">404</a>
                    </li>
                    
                    
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link toggle" href="{% url 'blog' %}">Новости<i class="fal fa-plus"></i></a>
                
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Контакт</a>
            </li>
        </ul>
    </div>
    <div class="more-option mobile-item">
        <div class="item">
            <div class="language">
                <select class="niceselect">
                    <option value="1">Английский</option>
                    <option value="2">Китайский</option>
                    <option value="3">Французский</option>
                </select>
            </div>
        </div>
        
        <div class="item">
            <a href="{% url 'reservations' %}" class="btn btn-md btn-primary rounded-pill" title="Book a Table" target="_self">Бронирование</a>
        </div>
    </div>
</nav>